body {
    margin: 0;
}

.gallery {
    width: 280px;
    border: 1px solid lightblue;
    border-radius: 10px;
    /* box-shadow: 4px 4px 4px 0 lightgray; */
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2),
        0 1px 6px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
    margin-bottom: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

.gallery:hover {
    border: 1px solid lightgray;
    box-shadow: 0 1px 6px 0 gray,
        0 1px 6px 0 gray;
}

h3 {
    margin: 5px;
}

button {
    background-color: white;
    padding: 10px;
    color: brown;
    border: 1px solid brown;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
}

.flexdemo {
    display: flex;
    /* flex-direction: column-reverse; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.demo {
    display: flex;
}

.demo a {
    white-space: nowrap;
    color: gray;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}